/* Algemene tekststijlen */
.text-gold {
  color: #FFD700 ;
}
.text-white {
  color: white;
}
.text-red {
  color: red;
}
.font-weight-bold {
  font-weight: bold; 
}
.cp {
  cursor: pointer;
}

/* Lettertyp header */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.header-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* Lettertyp voor hele pagina */
* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Reset basisstijlen */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; /* Voorkomt highlight bij tikken */
  touch-action: manipulation; /* Zorgt ervoor dat alleen scroll- en zoomacties mogelijk zijn */
  user-select: none; /* Voorkomt tekstselectie */
  -webkit-user-drag: none; /* Voorkomt dat elementen kunnen worden gesleept */
}

/* Zorg ervoor dat html en body het volledige scherm beslaan en geen horizontale scroll */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

p {
  margin-bottom: 15px;
  color: white;
  font-size: large;
  word-wrap: break-word; 
  word-break: break-word;
}

/* Container breedte beperken om overschrijding te voorkomen */
.container {
  max-width: 100%;
  overflow-x: hidden;
  padding: 15px;
}

/* Specifieke fix voor mobiele apparaten */
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
